<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <a class="nav-link" href="{% url 'admin:index' %}">ADMIN </a>
            <a class="nav-link" href="{% url 'basicApp:other' %}">  OTHER </a>
            <a class="nav-link" href="{% url 'basicApp:relative' %}">  Relative </a>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block body_block %}
      <!-- sdsdsdsdsd -->
      {% endblock %}
    </div>
  </body>
</html>
